<div class="container my-5 my-5 z-depth-1" id="about">

    <h3 class="font-weight-bold text-center dark-grey-text pb-2 my-3">About Us</h3>
    <hr class=" my-4">
    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-3">
            <div class="col-md-6 mb-4">

                <div class="view">
                    <img src="http://www.activ8bn.com/wp-content/uploads/2019/03/Digital-Marketing-in-Brunei.png" class="img-fluid"
                        alt="smaple image">
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>

                    <h3 class="font-weight-bold mb-4">Creative Digital Agency & Marketing Experts</h3>

                    <p>E-Creatives is your agency for an holistic approach to all things digital. We
                        achieve excellent
                        results by using the best of data, empathy & 10 years experience in all our work!</p>

                    <div class="mr-auto">
                        <a href="../partials/model_contact.handlebars" data-toggle="modal" data-target="#modalContactForm"
                            class="btn btn-lg btn-lily mt-5">Contact Now <i class="fas fa-caret-right ml-3"></i></a>
                        {{> model_contact}}
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>