<!-- Intro -->


<div class="row home">

    <div class="col-md-6">


        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            {{!-- {{#if msg}}
            <div class="btn btn-default btn-sm"> {{msg}}</div>

            {{/if}} --}}



            <h2 class="heading">The best agency for your business!</h2>
            <h5 class="subheading">

                Our unique approach focuses on delivering you the right outcome, not just selling a service.</h5>
            <div class="mr-auto">
                <a href="../partials/model_contact.handlebars" data-toggle="modal" data-target="#modalContactForm"
                    class="btn btn-lg btn-lily btn-margin">Contact Now <i class="fas fa-caret-right ml-3"></i></a>

                {{> model_contact}}


            </div>


        </div>

    </div>

    <div class="col-md-6">

        <div class="">
            <img src="image/digital.png" class="img-fluid" alt="Responsive image">


            <div class="mask flex-center hm-gradient">
            </div>
        </div>

    </div>

</div>