<div class="container my-5 p-5 z-depth-1" id="service">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Section heading -->
        <h2 class="text-center font-weight-bold mb-4 pb-2">Explore Our Service</h2>
        <hr class=" my-4">
        <!-- Section description -->
        <p class="text-center lead grey-text mx-auto mb-5">Creating inspired digital solutions for clients using latest
            technology</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="fas fa-2x fa-desktop"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Web Design</h5>
                        <p class="grey-text">We combine user experience with stunning design to produce high
                            performance websites that excel and encourage interaction.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="fas fa-2x fa-laptop-code"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Web Development</h5>
                        <p class="grey-text">We specialise in high-calibre, custom web development projects that other
                            web designers may not have the expertise or in-depth knowledge to provide.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-md-0 mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="fas fa-2x fa-search-dollar"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">SEO</h5>
                        <p class="grey-text mb-md-0">Using a proven, structured approach we can create a SEO strategy
                            aligned with your KPI objectives that targets active searchers.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img class="img-fluid" src="https://leadconnectmarketing.com/wp-content/uploads/2015/08/ICON_3.png" alt="Sample image">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="far fa-2x fa-money-bill-alt"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">E-Commerce</h5>
                        <p class="grey-text">We develop custom eCommerce systems ranging from online shopping websites
                            selling thousands of items, to those selling a single product, service or subscription.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="fas fa-2x fa-mobile-alt"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">App Development</h5>
                        <p class="grey-text">We build mobile applications that open doors for your company to interact
                            with customers like never before.

                        </p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-2">
                        <i class="fas fa-2x fa-magic deep-purple-text"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Digital Marketing</h5>
                        <p class="grey-text mb-0">Reach, engage and convert your social audience online with social
                            media marketing</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <div class="mr-auto mb-5">
            <a href="../partials/model_contact.handlebars" data-toggle="modal" data-target="#modalContactForm" type="button"
                class="btn btn-lg btn-lily btn-block mt-5">Contact Now </a>
        </div>
    </section>
    <!--Section: Content-->


</div>