<body class="rgba-gradient my-5">

    <div class="container my-5">


        <!--Section: Content-->
        <section>
            <!-- Section heading -->
            <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Privacy Policy</h3>
            <hr class=" my-4">
            <!-- Section description -->
            <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">We take your privacy seriously and treat all
                the information you give us with great care. Our Privacy Policy explains how we collect, store and use
                the personal information you give to us.</p>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">Who We Are?</h5>
                    <p class="text-muted">Absolutely! We work with top payment companies which guarantees your safety
                        and security. All billing information is stored on our payment processing partner which has the
                        most stringent level of certification available in the payments industry.</p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">What Information Do We Collect And How?</h5>
                    <p class="text-muted">You can cancel your subscription anytime in your account. Once the
                        subscription is cancelled, you will not be charged next month. You will continue to have access
                        to your account until your current subscription expires.</p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">How Do We Keep Your Information Safe?</h5>
                    <p class="text-muted">Currently, we only offer monthly subscription. You can upgrade or cancel your
                        monthly account at any time with no further obligation.</p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">Can I update my card details?</h5>
                    <p class="text-muted">Yes. Go to the billing section of your dashboard and update your payment
                        information.</p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">Can I request refund?</h5>
                    <p class="text-muted">Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h5 class="font-weight-normal mb-3">Can I try your service for free?</h5>
                    <p class="text-muted">Of course! We’re happy to offer a free plan to anyone who wants to try our
                        service.</p>
                </div>
            </div>

            <div class="mr-auto">
                <a href="/" class="btn btn-lg btn-lily mt-3">Back
                    to home <i class="fas fa-caret-right ml-3"></i></a>

            </div>

        </section>

    </div>


    <div class="fixed-bottom">
        {{> footer}}
    </div>


</body>